In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
pd.__version__

'2.1.4'

In [5]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz', nrows=100)
df = pd.read_csv('taxi+_zone_lookup.csv', nrows=100)
df.head()

       LocationID
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000

In [15]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [20]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [22]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [23]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', iterator=True, chunksize=100000)

In [25]:
df = next(df_iter)

In [26]:
len(df)

100000

In [27]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [32]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 6.77 s, sys: 122 ms, total: 6.89 s
Wall time: 10.5 s

1000

In [33]:
from time import time

In [34]:
while True:
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk... it took %.3f seconds' % (t_end - t_start))

inserted another chunk... it took 10.393 seconds
inserted another chunk... it took 10.639 seconds

/tmp/ipykernel_37648/2324315343.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk... it took 10.531 seconds
inserted another chunk... it took 4.410 seconds

StopIteration: